.recent-rounds
  %h2=t("Recent rounds")

  %table.recent-rounds
    %thead
      %tr
        %th=t("Round")
        - @game.players.each do |player|
          %th
            - if @player == player
              %i=t("yourself")
            - else
              = player.user.name

    %tbody
      - @game.boards.order(round_number: :desc).limit(5).each do |board|
        %tr
          %td
            = link_to "Round #{board.round_number}", game_board_path(@game, board)
          - @game.players.each do |player|
            %td
              = board.guesses.where(player: player).map(&:score).inject(0, &:+)
      - if @game.boards.empty?
        %tr
          %td{ colspan: @game.players.count + 1 }
            %i=t("(none yet)")
