.score-board
  %h2=t("Score board")

  %table.score-board
    %thead
      %tr
        %th=t("Player")
        %th.score=t("Score")
    %tbody
      - @game.players.order(score: :desc).each do |player|
        %tr
          %td.name
            - if @player == player
              %i=t("You!")
            - else
              = player.user.name
          %td.score
            = player.score

  .target-score
    =t("First to %{score} wins!", score: @game.target_score)
