.score-board
  %h2 Score board

  %table.score-board
    %thead
      %tr
        %th Player
        %th.score Score
    %tbody
      - @game.players.order(score: :desc).each do |player|
        %tr
          %td.name
            - if @player == player
              %i You!
            - else
              = player.user.name
          %td.score
            = player.score

  .target-score
    First to #{@game.target_score} wins!
