@import "_variables";

nav {
  text-align: center;

  ul {
    background: $nav;
    border: 1px solid darken($nav, 30%);
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 5px 10px;

    a {
      color: darken($nav, 40%);

      &:hover {
        text-decoration: none;
      }
    }

    li {
      display: inline-block;

      & + li:before {
        content: ' - ';
      }
    }
  }
}

