@import "_variables";

html, body, input, textarea {
  font-family: 'Crimson Text', 'Times New Roman', 'Times', serif;
}

html {
  background: #f6f6f6;
}

html, form {
  margin: 0;
  padding: 0;
}

body {
  max-width: 600px;
  margin: 10px auto;
  padding: 0;
}

.content {
  margin: 30px;
}

a {
  color: $blue;
  text-decoration: underline;

  &:hover {
    color: lighten($blue, 10%);
    text-decoration: none;
  }
}

input[type=submit], button, .btn {
  font-size: 100%;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  color: black;

  background: $button;
  background-image: -webkit-linear-gradient(top, $button, darken($button, 10%));
  background-image: -moz-linear-gradient(top, $button, darken($button, 10%));
  background-image: -ms-linear-gradient(top, $button, darken($button, 10%));
  background-image: -o-linear-gradient(top, $button, darken($button, 10%));
  background-image: linear-gradient(to bottom, $button, darken($button, 10%));

  border: 1px outset $button;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;

  &:hover {
    $button-hover: lighten($button, 10%);
    color: $blue;

    background: $button-hover;
    background-image: -webkit-linear-gradient(top, $button-hover, darken($button-hover, 10%));
    background-image: -moz-linear-gradient(top, $button-hover, darken($button-hover, 10%));
    background-image: -ms-linear-gradient(top, $button-hover, darken($button-hover, 10%));
    background-image: -o-linear-gradient(top, $button-hover, darken($button-hover, 10%));
    background-image: linear-gradient(to bottom, $button-hover, darken($button-hover, 10%));
  }
}

table {
  margin: 0 auto;
  min-width: 80%;
  border: 1px solid darken($table, 20%);
  border-collapse: collapse;

  td, th {
    margin: 0;
    padding: 5px 10px;
    text-align: left;
  }

  th {
    padding-top: 8px;
    line-height: 110%;
    font-size: 80%;
  }

  thead {
    background: $table;
  }

  tbody {
    background: white;
  }

  tfoot {
    background: lighten($table, 10%);
  }

  tbody {
    tr:nth-child(2n) {
      background: lighten($table, 15%);
    }
  }
}
